body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: hsl(0, 0%, 96%);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    height: 80vh;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.logo {
    line-height: 10px;
}

.tab-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e47b0a;
    color: white;
    width: 50%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
    margin-top: 20px;
}

.form-footer a {
    text-decoration: none;
    color: #ff6200;
    font-weight: bold;
}

.form-section {
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    background: #cfcfcf;
    border-radius: 8px;
}
input[type=text], input[type=password] {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button.submit-btn {
    font-weight: bold;
    padding: 10px;
    width: 100%;
    background-color: rgb(27, 58, 126);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
#group-section {
    margin-top: 30px;
}

.group-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.chat-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#messages {
    list-style: none;
    padding: 0;;
    overflow-y: auto;
    margin: 0;
}

#messages li {
    display: list-item;
    font-size: 10px;
    padding: 0px 10px 0 10px;
    margin: 0 0 20px 0;
    color: white;
    border-radius: 10px
}

#message-input {
    width: 90%;
    padding: 10px;
}

#send-message-btn {
    padding: 11px;
    width: 10%;
    text-align: center;
    background-color: rgb(35, 140, 182);
    color: white;
    padding: 10px 0 10px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 5px;
}

.message-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.usermsg {
    width: 90%; 
    padding: 10px;
    border: none;
    background: #fff;
    border-radius: 5px;
}

#chatbox {
    text-align: left;
    background: #000000;
    height: 80%;
    width: 100%;
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    overflow:  auto;
}

.senderName {
    display: inline;
    color: #050505;
    background-color: brown;
    padding: 5px;
    border-radius: 5px;
}

.showmessage {
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0 10px 0;
    background-color: rgb(73, 73, 73);
}

.Msgdelete {
    border-radius: 5px;
}

.Msginfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MsGcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 5px 0 0 5px;
}

#undoDeletemsg {
    font-size: 15px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.chat-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backbtn {
    border-radius: 5px;
    background-color: #e47b0a;
    color: black;
    padding: 5px 10px;
    margin-left: 10px;
}

#chat-group-name {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
